.justify-center {
    justify-content: center;
}

.footer-background {
    background: linear-gradient(0deg, #262628 0%, #181818 80%, #181818 100%);
}

.h-min-vh {
    min-height: 100vh;
}

.Toastify__toast-theme--light.Toastify__toast--error {
    background-color: #e74c3c !important;
    color: #fff !important;
    button svg path,
    svg {
        fill: #fff;
    }
}

.Toastify__toast-theme--light.Toastify__toast--success {
    background-color: #20c997 !important;
    color: #fff !important;
    button svg path,
    svg {
        fill: #fff;
    }
}

.Toastify__progress-bar--error {
    background: rgba(255, 255, 255, 0.795) !important;
}

.Toastify__progress-bar--success {
    background: rgba(255, 255, 255, 0.795) !important;
}

.loader-ring {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #3f51b5;
    cursor: not-allowed;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 10;
}

.float-footer {
    position: absolute;
    bottom: 0;
    right: 0;
    width: 100%;
}

.loader-class-centered {
    width: 100%;
    min-height: 40vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

@media only screen and (min-width: 1280px) {
    .float-footer {
        padding-left: 340px;
    }
}

.data-select.wrap-select.custom-select {
    display: block;
    width: 100%;
    height: calc(2.125rem + 2px);
    padding: 0.4375rem 1rem;
    font-size: 0.8125rem;
    font-weight: 400;
    line-height: 1.25rem;
    color: #3c4d62;
    box-shadow: none;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #dbdfea;
    border-radius: 4px;
    transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

.cursor-pointer {
    cursor: pointer;
}

.padding-bottom-65 {
    padding-bottom: 65px;
}